.navbar-details-wrapper-container{
    height: 100vh;
}
.user-details-wrapper-container{
    height: calc(100vh - 62px);
    padding: 32px;
    background-color: #F5F5F5;
    position: relative;
}
.person-link-wrapper{
    padding: 22px;
}
.user-details-box{
    padding: 0px;
    background-color: #FFFFFF;

}
.person-link-wrapper a{
    text-decoration: none;
    color: var(--color-2);
    font-weight: 400;
}
.user-details-wrapper{
      /* padding: 32px; */
      padding-bottom: 0;
      background-color: #FFFFFF;
      position: absolute;
      top: 24px;
      left: 24px;
      right: 24px;
      bottom: 24px;  
}
.user-details-down{
    background-color: #FFFFFF;
    padding: 24px;
}
@media (max-width : 1299.98px) {
    .user-details-wrapper-container{
        padding: 24px;
    }
    .person-link-wrapper{
        padding: 18px;
    }

}
@media (max-width : 767.98px) {
    .person-link-wrapper{
        padding: 14px;
    }
    .person-link-wrapper a{
        font-size: 14px;
    }
}   