.sideBarContainer {
    padding: 36px;
}

.logo-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-img-container img {
    width: 85%;
    padding: 32px 24px;
    object-fit: cover;
}

.write-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 16px;
}

.write-ul li {
    display: flex;
    justify-content: start;
    padding: 12px 0;
    border-radius: 24px;
    margin-bottom: 6px;
    line-height: 19px;
    color: #ffffffa9;
}